.clients__quote {
  color: #777;
  font-size: 22px;
  line-height: 1.5;
  margin: 0 0 0.5em;
  position: relative;
}

.clients__quote::before {
  content: '“';
}

.clients__quote::after {
  content: '”';
}

@media (min-width: 48em) {
  .clients__quote::before {
    margin-left: -0.6em;
    position: absolute;
  }

  .clients__quote::after {
    margin-left: 0.2em;
    position: absolute;
  }
}
