.clients__text-box {
  background-color: #f9f9f9;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  max-width: 642px;
  padding: 1em;
}

@media (max-width: 48em) {
  .clients__text-box::before {
    content: url(../../images/clients__triangle.svg);
    left: 50%;
    position: absolute;
    top: 237px;
    transform: translate(-50%, 0) rotate(90deg);
  }
}

@media (min-width: 48em) {
  .clients__text-box {
    padding: 45px;
    position: relative;
  }

  .clients__text-box--right {
    margin-left: 45px;
    margin-right: 35px;
  }

  .clients__text-box--left {
    margin-left: 35px;
    margin-right: 45px;
  }

  .clients__text-box--right::before, .clients__text-box--left::after {
    content: url(../../images/clients__triangle.svg);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }

  .clients__text-box--right::before {
    left: -20px;
  }

  .clients__text-box--left::after {
    right: -20px;
    transform: translate(0, -50%) rotate(180deg);
  }
}
