.clients__text-box {
  background-color: #f9f9f9;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  max-width: 642px;
  padding: 1em;
}

@media (min-width: 48em) {
  .clients__text-box {
    padding: 45px;
  }

  .clients__text-box--right {
    margin-left: 45px;
    margin-right: 35px;
  }

  .clients__text-box--left {
    margin-left: 35px;
    margin-right: 45px;
  }
}
