.button {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.button--rounded {
  background-color: #7cc576;
  border: none;
  border-radius: 63px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 15px;
  padding: 24px 36px;
}
