.clients__testimonial:not(:last-child) {
  margin-bottom: 40px;
}

.clients__image-container {
  background-color: #f9f9f9;
  border-radius: 50%;
  height: 220px;
  width: 220px;
}

.clients__text-box {
  background-color: #f9f9f9;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  max-width: 642px;
  padding: 45px;
}

.clients__text-box--right {
  margin-left: 45px;
  margin-right: 35px;
}

.clients__text-box--left {
  margin-left: 35px;
  margin-right: 45px;
}

.clients__quote {
  color: #777;
  font-size: 22px;
  line-height: 1.5;
  margin: 0 0 0.5em;
}

.clients__client {
  color: #7cc576;
  display: block;
  font-size: 18px;
  font-style: normal;
  margin-left: 65px;
  position: relative;
}

.clients__client::before {
  content: '-';
  position: absolute;
  transform: translate(-150%, 0);
}
