.header__row::before, .header__row::after {
  clear: both;
  content: '';
  display: table;
}

.header__col--logo {
  float: left;
}

.header__col--navbar {
  float: right;
}

@media (max-width: 48em) {
  .header__col--logo {
    float: right;
  }

  .header__col--navbar {
    float: left;
  }
}
