.navbar {
  color: #777;
  font-weight: 600;
  position: relative;
}

@media (min-width: 41em) {
  .navbar__toggle {
    display: none;
  }
}

.navbar__list {
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 0.875em;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

@media (max-width: 41em) {
  .navbar__list {
    font-size: 1em;
    opacity: 0;
    position: absolute;
    text-align: center;
    transform: scale(1, 0);
    transform-origin: top;
    transition: opacity 0.2s, transform 0.2s;
    width: 100vw;
  }

  .navbar__list--open {
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.25);
    opacity: 1;
    transform: scale(1, 1);
  }
}

.navbar__list::before, .navbar__list::after {
  clear: both;
  content: '';
  display: table;
}

.navbar__item {
  float: left;
}

@media (max-width: 41em) {
  .navbar__item {
    float: none;
  }
}

.navbar__link {
  color: inherit;
  display: inline-block;
  padding: 0 1.29em;
  text-decoration: inherit;
  transition: color 0.2s;
}

.navbar__link:hover {
  color: #7cc576;
}

@media (max-width: 41em) {
  .navbar__link {
    line-height: 4;
  }
}
