.navbar__list {
  font-family: Montserrat, sans-serif;
  font-size: 0.875em;
  line-height: 7.19em;
  list-style: none;
  text-transform: uppercase;
}

@media (max-width: 48em) {
  .navbar__list {
    display: none;
  }

  .navbar__list--open {
    display: block;
  }
}

.navbar__list::before, .navbar__list::after {
  clear: both;
  content: '';
  display: table;
}

.navbar__item {
  float: left;
}

@media (max-width: 48em) {
  .navbar__item {
    float: none;
  }
}

.navbar__link {
  color: inherit;
  padding: 0 1.29em;
  text-decoration: inherit;
}
