.project {
  background: url(../images/projects_ipad.jpg) no-repeat 50vw center;
  padding: 2em;
}

.project__title {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.project__subtitle {
  color: #777;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  text-align: center;
}
