.project-features {
  list-style: none;
  padding: 0;
}

.project-features__item {
  margin-bottom: 1em;
}

.project-features__item::before, .project-features__item::after {
  clear: both;
  content: '';
  display: table;
}

.project-features__circle {
  border: 3px solid black;
  border-radius: 50%;
  float: left;
  height: 69px;
  position: relative;
  width: 69px;
}

.project-features__icon {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.project-features__text {
  float: left;
}

.project-features__name {
  margin-top: 0;
}
