.project {
  overflow: hidden;
}

.project__title {
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.project__subtitle {
  color: #777;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  text-align: center;
}

.project__row::before, .project__row::after {
  clear: both;
  content: '';
  display: table;
}

.project__col {
  float: left;
  width: 50%;
}

.project__col--image {
  height: 518px;
}
