.relax::before, .relax::after {
  clear: both;
  content: '';
  display: table;
}

.relax__left {
  float: left;
  width: 30%;
}

.relax__right {
  background: url(../images/just-relax.jpg);
  box-sizing: border-box;
  color: #fff;
  float: right;
  width: 70%;
}

.relax__overlay {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 100px;
}

.relax__title {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-top: 0;
  text-transform: uppercase;
}

.relax__title--accent {
  color: #7cc576;
}

.relax__text {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 1.5;
}

.relax__list {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  list-style: none;
  padding: 0;
}

.relax__item {
  line-height: 32px;
  margin-bottom: 0.5em;
  padding-left: 3.5em;
  position: relative;
}

.relax__item::before {
  content: url(../images/relax__checkmark.svg);
  left: 0;
  position: absolute;
}
