.responsive-padding {
  padding: 100px;
}

@media (max-width: 48em) {
  .responsive-padding {
    padding: 13.02vw calc(-60px + 20.83vw);
  }
}

@media (max-width: 24em) {
  .responsive-padding {
    padding: 50px 20px;
  }
}
