.section--dark {
  color: #fff;
}

.section__title {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.section__title--big {
  font-size: 60px;
}

.section__title--left {
  text-align: left;
}

.section__subtitle {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 86px;
  text-align: center;
}

.section--light .section__subtitle {
  color: #777;
}
