.services {
  padding: 102px 1em;
  text-align: center;
}

.services__title {
  margin: 0 0 24px;
}

@media (max-width: 25em) {
  .services__title {
    font-size: 1.5em;
  }
}

@media (max-width: 25em) {
  .services__subtitle {
    font-size: 1em;
  }
}

.services__row::before, .services__row::after {
  clear: both;
  content: '';
  display: table;
}

.services__col {
  box-sizing: border-box;
  float: left;
  padding-right: 55px;
  width: 33%;
}

.services__col:last-child {
  padding-right: 0;
}

@media (max-width: 48em) {
  .services__col {
    float: none;
    margin: 0 auto 3em;
    max-width: 20em;
    padding-right: 0;
    width: 100%;
  }
}

.services__icon-container {
  height: 86px;
}

.services__feature-name {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.services__feature-description {
  color: #777;
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
