.title-section {
  background: url(../images/title-section.jpg) bottom/cover;
  text-align: center;
}

.title-section__overlay {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 118px 1em;
}

.title-section__title {
  margin: 0 auto 40px;
  max-width: 10em;
}

@media (max-width: 41em) {
  .title-section__title {
    font-size: 2em;
  }
}

.title-section__subtitle {
  margin-bottom: 53px;
}
