.top-footer {
  background-color: #222;
  color: #ececec;
}

.top-footer__heading {
  margin-bottom: 1.4em;
}

.top-footer__list {
  list-style: none;
  margin-bottom: -1em;
  padding: 0;
}

.top-footer__item {
  margin-bottom: 1em;
}
